<ul class="time-table">
  {% for content in entry.contents %}
    <li>
      <div class="row">
        <div class="col-md-3">
          {% if content.year %}
            <h4 class="text-right">{{ content.year }}</h4>
          {% endif %}
        </div>
        <div class="col-md-9">
          <p>
            {% if content.title %}
              <span class="font-weight-bold">{{ content.title }}</span>
            {% endif %}
            {% if content.institution %}
              <span class="font-italic">, {{ content.institution }}</span>
            {% endif %}
          </p>
          {% if content.description %}
            <ul class="items">
              {% for item in content.description %}
                <li>
                  {% if item.title %}
                    <span class="font-weight-bold">{{ item.title }}</span>
                  {% endif %}
                  {% if item.contents %}
                    <ul class="subitems">
                      {% for subitem in item.contents %}
                        <li>
                          <span class="subitem">{{ subitem }}</span>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <span class="item">{{ item }}</span>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if content.items %}
            <ul class="items">
              {% for item in content.items %}
                <li>
                  <span class="item">{{ item }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>