{%- for content in entry.contents -%}
  <div class="row cv-item">
    <div class="col-md-2 text-md-right">
      {%- if content.year -%}
        <span class="cv-year">{{ content.year }}</span>
      {%- endif -%}
    </div>
    <div class="col-md-10">
      {%- if content.title -%}
        <p class="cv-title font-weight-bold">{{ content.title }}</p>
      {%- endif -%}
      {%- if content.institution -%}
        <p class="cv-institution font-italic">{{ content.institution }}</p>
      {%- endif -%}
      {%- if content.description -%}
        <ul class="cv-description">
          {%- for item in content.description -%}
            <li>{{ item | markdownify | remove: '<p>' | remove: '</p>' }}</li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
      {%- if content.items -%}
        <ul class="cv-items">
          {%- for item in content.items -%}
            <li>{{ item | markdownify | remove: '<p>' | remove: '</p>' }}</li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>
  </div>
{%- endfor -%}
